---
import "../styles/global.css";
import { HwcHeader } from "@hwc/header";
import { PhotoMapApp } from "../components/PhotoMapApp.jsx";

const key = import.meta.env.PUBLIC_MAPTILER_API_KEY;
const apiBaseUrl = import.meta.env.PUBLIC_API_BASE_URL || "";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			Photo Log | Crawfordsville Market Street RR Grade Separation
		</title>
	</head>
	<body>
		<HwcHeader
			client:only="react"
			title="Crawfordsville Market Street RR Grade Seperation"
			right={null}
			children={null}
		/>

		<PhotoMapApp
			client:only="react"
			apiBaseUrl={apiBaseUrl}
			mapTilerKey={key}
		/>
	</body>
</html>
